.dashboard
  position relative
  display flex
  height 100%
  overflow hidden
  height: 100%
  
.layer-gallery
  layer(1)
.layer-pravo
  layer(2)
  flex-direction(column)
  align-items(center)
  justify-content(flex-end)
  margin-bottom 10px
  
.btn
  padding 10px
  cursor: pointer
  // bg(rgba(255,255,255,0.2))
  color: #eee

.btn-pravo
  @extends .btn
  
  