.layer-gallery
  
  .layer-booth
    layer(1)
    
  .layer-receipt
    layer(2)
    
    &.is-unfolded
      .panel
        display(flex)
        
    &.is-feed-list-unfolded
      .feeds
        display block
      .artworks
        opacity(0.2)

    .btn-panel
      absolute(bottom 10px right 20px)
      
    .panel
      display none
      flex(1)
      absolute(top right)
      bottom 0
      padding 10px
      background-color alpha(#000,0.6)
      width 50%
      max-width 200px
      .scroll
        margin-bottom 50px
        overflow-y auto      
        .artworks
          display(flex)
          flex-direction(column)
          min-height min-content
      
    .btn-feeds
      absolute(bottom 10px left 10px)
    
    .feeds
      display none
      bt = (10 + 20 + 20)px
      tiffany-wrapper()
      absolute(bottom bt left 10px)
      bg(transparent)
      .feed
        bg(alpha($tiffany-blue,0.3))
        padding 5px 10px
        cursor pointer
        &.chosen
          bg(alpha($tiffany-blue,0.6))
      .feed + .feed
        border-top 1px solid $tiffany-blue
        
      
  

.artwork-thumbnail
  width 100%
  position relative
  .img
      width 100%
      display block
  &.chosen
    &:before
      absolute-cover()
      content: ''
      bg(rgba(129, 216, 208, 0.6))
      
.artwork-thumbnail + .artwork-thumbnail
  margin-top 10px
  
@import "./booth"