bg(color)
  background-color color

fixed-cover()
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  
fixed-bottom()
  position fixed
  bottom 0
  left 0
  right 0
  
absolute-cover()
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  
absolute-bottom()
  position absolute
  bottom 0
  left 0
  right 0

layer(z = 0)
  absolute-cover()
  display flex
  z-index z
  pointer-events none
  *
    pointer-events auto
