@import "../node_modules/nib/lib/nib"

global-reset()

@import "./mixins"

@import "./dashboard"
@import "./gallery"
@import "./artwork"


html,body
  height 100%
  font-family Helvetica, sans-serif

