@import "../node_modules/nib/lib/nib"

global-reset()


@import "./mixins"

tiffanyBlue = #81D8D0

html
  height 100%
  font-family Helvetica, sans-serif

body
  position relative
  display flex
  height 100%
  overflow hidden

.btn
  display inline-block
  padding 5px 10px
  cursor pointer
  bg(rgba(129, 216, 208, 0.3))
  color #81D8D0
  border 2px solid #81D8D0
  border-radius 4px

.layer-dashboard
  layer(1)
  
@import "./dashboard"
