@import "../node_modules/nib/lib/nib"

global-reset()

@import "./mixins"


html,body
  height 100%
  font-family Helvetica, sans-serif


.btn
  padding 10px
  cursor: pointer
  // bg(rgba(255,255,255,0.2))
  color: #eee
  
@import "./dashboard"
@import "./gallery"
@import "./artwork"
