.layer-booth {
  overflow: hidden;
}
.layer-booth .btn {
  display: none;
}
.layer-booth.with-artworks .btn {
  display: inline-block;
}
.layer-booth .artwork {
  display: none;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.layer-booth .artwork .img {
  min-height: 50%;
  min-width: 50%;
  margin: auto;
}
.layer-booth .artwork.current {
  display: block;
}
.layer-booth .layer-btns {
  margin-bottom: 10px;
}
