.layer-booth
  overflow hidden
  
  .artwork
    display none
    position absolute
    top -50%
    left -50%
    width 200%
    height 200%
    .img
      min-height 50%
      max-width 100%
      margin auto
      absolute-cover()
    &.is-current
      display block

  .layer-artworks
    layer(1)

  .layer-btns
    layer(2)
    flex-direction(column)
    align-items(center)
    justify-content(flex-end)
    margin-bottom 10px
  
  &.blur
    .m-fa-btn
      display none
    


      
