user-drag()
  vendor('user-drag', arguments, only: webkit moz ms official)


// Style

bg(color)
  background-color color


palette(c,bg=null,bd=null)
  color c
  if bg != null
    background-color bg
  if bd != null
    border-color bd
    

// Layout

fixed-cover()
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  
fixed-bottom()
  position fixed
  bottom 0
  left 0
  right 0
fixed-top()
  position fixed
  top 0
  left 0
  right 0
  
absolute-cover()
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  
absolute-bottom()
  position absolute
  bottom 0
  left 0
  right 0
absolute-top()
  position absolute
  top 0
  left 0
  right 0

pointer()
  cursor pointer
  user-select(none)

layer(z=0)
  absolute-cover()
  display(flex)
  z-index z
  pointer-events none
  *
    pointer-events auto
    
pointer-events(v)
  pointer-events v
  *
    pointer-events v
