.layer-receipt
  .m-fa-btn
    display none
    transition(all,0.2s,ease-out)
    absolute(bottom 8px right 20px)
    .m-ico
      transition(all,0.2s,ease-in)
      opacity(1)
  
  .m-i-btn
    absolute(top 8px right 8px)
    

  .drawer
    display(flex)
    flex(1)
    absolute-bottom()
    height 0
    
  .container
    absolute-cover()
    overflow visible
    
  .panel
    opacity(0)
    transition(all,0.1s)
    absolute-cover()
    overflow hidden
    
  .scroll
    transform(translateX(8px))
    absolute-bottom()
    left 8px
    right 8px
    bottom 8px
    height 120px
    overflow hidden

  .toolbar
    display(flex)
    absolute-top()
    height 56px
    color #fff
    .title
      pointer()
      position relative
      height 56px
      line-height 56px
      padding-right 34px
      padding-left 8px
      .m-ico
        absolute(top 16px right 8px)
        transition(all,0.4s)
    .space
      flex(1)
  
  .feed-list
    display none
    absolute(top 0 left 8px)
    // transform(translateX(100%))
    bg(alpha(#000,0.9))
    color #fff
    padding: 8px 0
    &.is-unfolded
      display block
    .feed
      pointer()
      height 48px
      line-height 48px
      padding 0 16px
      &.is-current
        bg(alpha(#fff,0.3))
        
      
  .artwork-thumbnail
    transition(all,0.4s,ease-in)
    opacity(1)
    

  .scroll
    z-index 1
  .toolbar
    z-index 2
    
  &.has-artworks
    .m-fa-btn
      display block
      
  &.is-drawer-unfolded
    .m-fa-btn
      transition(all,0.2s,ease-in)
      transform(translateX(-720px) scale(60))
      bg(alpha(#000,0.6))
      .m-ico
        transition(all 0s)
        opacity(0)
    
    .drawer
      height 184px
      
    .container
      overflow hidden
      
    .panel
      transition(all,0.6s)
      opacity(1)
      .scroll
        transition(all,0.4s,0.1s)
        transform(translateX(0))
        
    .artwork-list
      display(flex)
      height 100%
      min-width fit-content

    .artwork-thumbnail
      user-select(none)
      position relative
      display inline-block
      height 100%
      .img
        user-drag(none)
        display block
        height 100%
      &.is-chosen
        &:before
          absolute-cover()
          content: ''
          bg(alpha(#fff,0.3))
          
    .artwork-thumbnail + .artwork-thumbnail
      margin-left 8px


  &.is-morphing
    .drawer
      height 184px
    .container
      overflow hidden
    .m-fa-btn
      .m-ico
        opacity(0)
          
  &.is-artwork-list-rendering
    .artwork-thumbnail
      transition(all,0.4s,ease-out)
      opacity(0)
        

.scroll
  &.is-eased
    .scrollee
      transition(all,0.8s,ease-out)      
  .scrollee
    transition(all,0.1s,ease-in)
    
.m-circuler-progress
  oh = 120px
  ih = 24px
  t = (oh - ih) / 2
  absolute(top t right 16px)
  
