template(data-tpl="dashboard")
  div.dashboard(data-ui="dashboard")
    //- h1.brand Pravo!
    div.layer-gallery
      div.gallery(data-ui="gallery")
    div.layer-pravo
      b.btn-pravo(data-ui="pravo") Pravo!