template(data-tpl="gallery")
  div.layer-gallery(data-ui="gallery")
    div.layer-booth(data-ui="booth")
      ul.layer-artworks(data-ui="artworks")
      div.layer-btns
        b.btn(data-ui="btnFav") Fav

    //- div.layer-inventory(data-ui="inventory")
    //-   ul.artworks(data-ui="artworks")

    div.layer-receipt(data-ui="receipt")
      div.panel
        div.scroll
          ul.artworks(data-ui="artworks")
        b.btn.btn-feeds(data-ui="btnMenu")
          span.oi(data-glyph="menu",title="menu" aria-hidden="true")
        ul.feeds(data-ui="feeds")
      div.combined.btns
        b.btn.btn-panel(data-ui="btnNew")
          | New
          span(data-ui="countNew")
