doctype html
html
  head
    title Pravo!
    block scripts
      script(src="js/lib/require.js", data-main="js/app")
    block styles
      link(rel="stylesheet", href="css/app.css")
    block templates
  body
    block content