template(data-tpl="gallery")
  div.layer-gallery(data-ui="gallery")
    div.layer-booth(data-ui="booth")
      ul.layer-artworks(data-ui="artworkList")
      div.layer-btns
        b.m-fa-btn.btn-favorite(data-ui="btnToggleFav")
          i.m-ico(data-ui="icoToggleFav") bookmark

    //- div.layer-inventory(data-ui="inventory")
    //-   ul.artworks(data-ui="artworks")

    div.layer-receipt.is-morphed.has-linear-progress(data-ui="receipt")
      div.drawer(data-ui="drawer")
        div.container
          b.m-fa-btn(data-ui="btnUnfoldDrawer")
            i.m-ico collections
          div.panel
            div.scroll(data-ui="scroll")
              ul.artwork-list.scrollee(data-ui="artworkList")
            div.toolbar
              div.title(data-ui="toobarTitle")
                span.name(data-ui="feedName")
                i.m-ico arrow_drop_down
                ul.feed-list(data-ui="feedList")
              div.space
              b.m-i-btn(data-ui="btnFoldDrawer")
                i.m-ico close
