extends ./layout
block templates
  include ./artwork
  include ./artwork-thumbnail
  include ./artwork-feed
  include ./gallery
  include ./clock
include ./m-linear-progress
  include ./m-circular-progress

block main
  div.layer-dashboard(data-ui="dashboard")
    div.ui-root(data-ui="gallery")
    div.ui-root(data-ui="clock")