html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot");
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2") format('woff2'), url("../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff") format('woff'), url("../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.tff") format('truetype');
}
.m-ico {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  width: 1em;
  height: 1em;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  speak: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.m-fa-btn {
  display: block;
  padding: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0,0,0,0.3);
}
.m-fa-btn .m-ico {
  display: block;
}
.m-btn {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  color: #2196f3;
  cursor: pointer;
}
.m-i-btn {
  padding: 6px;
  color: #fff;
  cursor: pointer;
}
.m-linear-progress {
  display: none;
  position: relative;
  height: 4px;
  background-color: rgba(255,255,255,0.2);
}
.m-linear-progress:before,
.m-linear-progress:after {
  content: '';
  height: 4px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.m-linear-progress:before {
  -webkit-animation: linear-progress-primary 2.4s linear infinite;
  -moz-animation: linear-progress-primary 2.4s linear infinite;
  -o-animation: linear-progress-primary 2.4s linear infinite;
  -ms-animation: linear-progress-primary 2.4s linear infinite;
  animation: linear-progress-primary 2.4s linear infinite;
}
.m-linear-progress:after {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: linear-progress-secondary 2.4s linear infinite;
  -moz-animation: linear-progress-secondary 2.4s linear infinite;
  -o-animation: linear-progress-secondary 2.4s linear infinite;
  -ms-animation: linear-progress-secondary 2.4s linear infinite;
  animation: linear-progress-secondary 2.4s linear infinite;
}
.m-linear-progress.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: -4px;
}
.m-linear-progress.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: -4px;
}
.m-linear-progress.is-loading {
  display: block;
}
.m-circular-progress {
  display: none;
  width: 24px;
  height: 24px;
}
.m-circular-progress .svg {
  width: 24px;
  height: 24px;
  -webkit-animation: circular-circle linear 2.4s infinite;
  -moz-animation: circular-circle linear 2.4s infinite;
  -o-animation: circular-circle linear 2.4s infinite;
  -ms-animation: circular-circle linear 2.4s infinite;
  animation: circular-circle linear 2.4s infinite;
}
.m-circular-progress .circle {
  width: 24px;
  height: 24px;
  cx: 12px;
  cy: 12px;
  r: 10px;
  fill: none;
  stroke: rgba(255,255,255,0.8);
  stroke-width: 4px;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: circular-progress ease 3.6s infinite;
  -moz-animation: circular-progress ease 3.6s infinite;
  -o-animation: circular-progress ease 3.6s infinite;
  -ms-animation: circular-progress ease 3.6s infinite;
  animation: circular-progress ease 3.6s infinite;
}
.m-circular-progress.right {
  position: absolute;
  top: 0;
  right: 0;
}
.m-circular-progress.is-loading {
  display: block;
}
@-moz-keyframes linear-progress-primary {
  0% {
    -webkit-transform: translateX(-20%) scaleX(0.1);
    -moz-transform: translateX(-20%) scaleX(0.1);
    -o-transform: translateX(-20%) scaleX(0.1);
    -ms-transform: translateX(-20%) scaleX(0.1);
    transform: translateX(-20%) scaleX(0.1);
  }
  80% {
    -webkit-transform: translateX(100%) scaleX(1);
    -moz-transform: translateX(100%) scaleX(1);
    -o-transform: translateX(100%) scaleX(1);
    -ms-transform: translateX(100%) scaleX(1);
    transform: translateX(100%) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(100%) scaleX(1);
    -moz-transform: translateX(100%) scaleX(1);
    -o-transform: translateX(100%) scaleX(1);
    -ms-transform: translateX(100%) scaleX(1);
    transform: translateX(100%) scaleX(1);
  }
}
@-webkit-keyframes linear-progress-primary {
  0% {
    -webkit-transform: translateX(-20%) scaleX(0.1);
    -moz-transform: translateX(-20%) scaleX(0.1);
    -o-transform: translateX(-20%) scaleX(0.1);
    -ms-transform: translateX(-20%) scaleX(0.1);
    transform: translateX(-20%) scaleX(0.1);
  }
  80% {
    -webkit-transform: translateX(100%) scaleX(1);
    -moz-transform: translateX(100%) scaleX(1);
    -o-transform: translateX(100%) scaleX(1);
    -ms-transform: translateX(100%) scaleX(1);
    transform: translateX(100%) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(100%) scaleX(1);
    -moz-transform: translateX(100%) scaleX(1);
    -o-transform: translateX(100%) scaleX(1);
    -ms-transform: translateX(100%) scaleX(1);
    transform: translateX(100%) scaleX(1);
  }
}
@-o-keyframes linear-progress-primary {
  0% {
    -webkit-transform: translateX(-20%) scaleX(0.1);
    -moz-transform: translateX(-20%) scaleX(0.1);
    -o-transform: translateX(-20%) scaleX(0.1);
    -ms-transform: translateX(-20%) scaleX(0.1);
    transform: translateX(-20%) scaleX(0.1);
  }
  80% {
    -webkit-transform: translateX(100%) scaleX(1);
    -moz-transform: translateX(100%) scaleX(1);
    -o-transform: translateX(100%) scaleX(1);
    -ms-transform: translateX(100%) scaleX(1);
    transform: translateX(100%) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(100%) scaleX(1);
    -moz-transform: translateX(100%) scaleX(1);
    -o-transform: translateX(100%) scaleX(1);
    -ms-transform: translateX(100%) scaleX(1);
    transform: translateX(100%) scaleX(1);
  }
}
@keyframes linear-progress-primary {
  0% {
    -webkit-transform: translateX(-20%) scaleX(0.1);
    -moz-transform: translateX(-20%) scaleX(0.1);
    -o-transform: translateX(-20%) scaleX(0.1);
    -ms-transform: translateX(-20%) scaleX(0.1);
    transform: translateX(-20%) scaleX(0.1);
  }
  80% {
    -webkit-transform: translateX(100%) scaleX(1);
    -moz-transform: translateX(100%) scaleX(1);
    -o-transform: translateX(100%) scaleX(1);
    -ms-transform: translateX(100%) scaleX(1);
    transform: translateX(100%) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(100%) scaleX(1);
    -moz-transform: translateX(100%) scaleX(1);
    -o-transform: translateX(100%) scaleX(1);
    -ms-transform: translateX(100%) scaleX(1);
    transform: translateX(100%) scaleX(1);
  }
}
@-moz-keyframes linear-progress-secondary {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100%) scaleX(1);
    -moz-transform: translateX(-100%) scaleX(1);
    -o-transform: translateX(-100%) scaleX(1);
    -ms-transform: translateX(-100%) scaleX(1);
    transform: translateX(-100%) scaleX(1);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-100%) scaleX(1);
    -moz-transform: translateX(-100%) scaleX(1);
    -o-transform: translateX(-100%) scaleX(1);
    -ms-transform: translateX(-100%) scaleX(1);
    transform: translateX(-100%) scaleX(1);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(100%) scaleX(0.1);
    -moz-transform: translateX(100%) scaleX(0.1);
    -o-transform: translateX(100%) scaleX(0.1);
    -ms-transform: translateX(100%) scaleX(0.1);
    transform: translateX(100%) scaleX(0.1);
  }
}
@-webkit-keyframes linear-progress-secondary {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100%) scaleX(1);
    -moz-transform: translateX(-100%) scaleX(1);
    -o-transform: translateX(-100%) scaleX(1);
    -ms-transform: translateX(-100%) scaleX(1);
    transform: translateX(-100%) scaleX(1);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-100%) scaleX(1);
    -moz-transform: translateX(-100%) scaleX(1);
    -o-transform: translateX(-100%) scaleX(1);
    -ms-transform: translateX(-100%) scaleX(1);
    transform: translateX(-100%) scaleX(1);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(100%) scaleX(0.1);
    -moz-transform: translateX(100%) scaleX(0.1);
    -o-transform: translateX(100%) scaleX(0.1);
    -ms-transform: translateX(100%) scaleX(0.1);
    transform: translateX(100%) scaleX(0.1);
  }
}
@-o-keyframes linear-progress-secondary {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100%) scaleX(1);
    -moz-transform: translateX(-100%) scaleX(1);
    -o-transform: translateX(-100%) scaleX(1);
    -ms-transform: translateX(-100%) scaleX(1);
    transform: translateX(-100%) scaleX(1);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-100%) scaleX(1);
    -moz-transform: translateX(-100%) scaleX(1);
    -o-transform: translateX(-100%) scaleX(1);
    -ms-transform: translateX(-100%) scaleX(1);
    transform: translateX(-100%) scaleX(1);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(100%) scaleX(0.1);
    -moz-transform: translateX(100%) scaleX(0.1);
    -o-transform: translateX(100%) scaleX(0.1);
    -ms-transform: translateX(100%) scaleX(0.1);
    transform: translateX(100%) scaleX(0.1);
  }
}
@keyframes linear-progress-secondary {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100%) scaleX(1);
    -moz-transform: translateX(-100%) scaleX(1);
    -o-transform: translateX(-100%) scaleX(1);
    -ms-transform: translateX(-100%) scaleX(1);
    transform: translateX(-100%) scaleX(1);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-100%) scaleX(1);
    -moz-transform: translateX(-100%) scaleX(1);
    -o-transform: translateX(-100%) scaleX(1);
    -ms-transform: translateX(-100%) scaleX(1);
    transform: translateX(-100%) scaleX(1);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(100%) scaleX(0.1);
    -moz-transform: translateX(100%) scaleX(0.1);
    -o-transform: translateX(100%) scaleX(0.1);
    -ms-transform: translateX(100%) scaleX(0.1);
    transform: translateX(100%) scaleX(0.1);
  }
}
@-moz-keyframes circular-progress {
  0% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: 21.991148575128552px;
  }
  25% {
    stroke-dasharray: 56.548667764616276px, 6.283185307179586px;
    stroke-dashoffset: 21.991148575128552px;
  }
  50% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: -40.840704496667314px;
  }
  75% {
    stroke-dasharray: 56.548667764616276px, 6.283185307179586px;
    stroke-dashoffset: -40.840704496667314px;
  }
  100% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: -103.67255756846316px;
  }
}
@-webkit-keyframes circular-progress {
  0% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: 21.991148575128552px;
  }
  25% {
    stroke-dasharray: 56.548667764616276px, 6.283185307179586px;
    stroke-dashoffset: 21.991148575128552px;
  }
  50% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: -40.840704496667314px;
  }
  75% {
    stroke-dasharray: 56.548667764616276px, 6.283185307179586px;
    stroke-dashoffset: -40.840704496667314px;
  }
  100% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: -103.67255756846316px;
  }
}
@-o-keyframes circular-progress {
  0% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: 21.991148575128552px;
  }
  25% {
    stroke-dasharray: 56.548667764616276px, 6.283185307179586px;
    stroke-dashoffset: 21.991148575128552px;
  }
  50% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: -40.840704496667314px;
  }
  75% {
    stroke-dasharray: 56.548667764616276px, 6.283185307179586px;
    stroke-dashoffset: -40.840704496667314px;
  }
  100% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: -103.67255756846316px;
  }
}
@keyframes circular-progress {
  0% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: 21.991148575128552px;
  }
  25% {
    stroke-dasharray: 56.548667764616276px, 6.283185307179586px;
    stroke-dashoffset: 21.991148575128552px;
  }
  50% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: -40.840704496667314px;
  }
  75% {
    stroke-dasharray: 56.548667764616276px, 6.283185307179586px;
    stroke-dashoffset: -40.840704496667314px;
  }
  100% {
    stroke-dasharray: 6.283185307179586px, 56.548667764616276px;
    stroke-dashoffset: -103.67255756846316px;
  }
}
@-moz-keyframes circular-circle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circular-circle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes circular-circle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circular-circle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
html {
  height: 100%;
  font-family: Helvetica, sans-serif;
}
body {
  font-size: 16px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  overflow: hidden;
}
.ui-root {
  display: none;
}
.btn {
  padding: 5px 10px;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.btn.is-dark {
  color: #fff;
  border-color: #fff;
}
.btn.is-light {
  color: #000;
  border-color: #000;
}
.layer-dashboard {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 1;
  pointer-events: none;
  background-color: rgba(0,0,0,0.6);
}
.layer-dashboard * {
  pointer-events: none;
}
.layer-dashboard * {
  pointer-events: auto;
}
.layer-dashboard * * {
  pointer-events: auto;
}
.layer-gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 1;
  pointer-events: none;
}
.layer-gallery * {
  pointer-events: none;
}
.layer-gallery * {
  pointer-events: auto;
}
.layer-gallery * * {
  pointer-events: auto;
}
.layer-clock {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 2;
  pointer-events: none;
}
.layer-clock * {
  pointer-events: none;
}
.layer-clock * {
  pointer-events: auto;
}
.layer-clock * * {
  pointer-events: auto;
}
.layer-gallery .layer-booth {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 1;
  pointer-events: none;
}
.layer-gallery .layer-booth * {
  pointer-events: none;
}
.layer-gallery .layer-booth * {
  pointer-events: auto;
}
.layer-gallery .layer-booth * * {
  pointer-events: auto;
}
.layer-gallery .layer-receipt {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 2;
  pointer-events: none;
}
.layer-gallery .layer-receipt * {
  pointer-events: none;
}
.layer-gallery .layer-receipt * {
  pointer-events: auto;
}
.layer-gallery .layer-receipt * * {
  pointer-events: auto;
}
.layer-booth {
  overflow: hidden;
}
.layer-booth .layer-artworks {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 1;
  pointer-events: none;
}
.layer-booth .layer-artworks * {
  pointer-events: none;
}
.layer-booth .layer-artworks * {
  pointer-events: auto;
}
.layer-booth .layer-artworks * * {
  pointer-events: auto;
}
.layer-booth .artwork {
  display: none;
  position: relative;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.layer-booth .artwork .img {
  display: block;
}
.layer-booth .artwork.cover.landscape {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.layer-booth .artwork.cover.landscape .img {
  width: 100%;
  height: auto;
}
.layer-booth .artwork.is-current {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.layer-booth .layer-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 2;
  pointer-events: none;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.layer-booth .layer-btns * {
  pointer-events: none;
}
.layer-booth .layer-btns * {
  pointer-events: auto;
}
.layer-booth .layer-btns * * {
  pointer-events: auto;
}
.layer-booth.has-artworks .m-fa-btn {
  pointer-events: auto;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.layer-booth.has-artworks .m-fa-btn * {
  pointer-events: auto;
}
.layer-booth.has-artworks .m-fa-btn .m-ico {
  -webkit-transition: all 0.2s 0.1s;
  -moz-transition: all 0.2s 0.1s;
  -o-transition: all 0.2s 0.1s;
  -ms-transition: all 0.2s 0.1s;
  transition: all 0.2s 0.1s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.layer-booth .m-fa-btn,
.layer-booth.blur .m-fa-btn {
  pointer-events: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
.layer-booth .m-fa-btn *,
.layer-booth.blur .m-fa-btn * {
  pointer-events: none;
}
.layer-booth .m-fa-btn .m-ico,
.layer-booth.blur .m-fa-btn .m-ico {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.layer-receipt .m-fa-btn {
  pointer-events: none;
  position: absolute;
  bottom: 8px;
  right: 20px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.layer-receipt .m-fa-btn * {
  pointer-events: none;
}
.layer-receipt .m-fa-btn .m-ico {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.layer-receipt .m-i-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}
.layer-receipt .drawer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
}
.layer-receipt .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
}
.layer-receipt .panel {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.layer-receipt .scroll {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -o-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 8px;
  right: 8px;
  bottom: 8px;
  height: 120px;
  overflow: hidden;
}
.layer-receipt .toolbar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  color: #fff;
}
.layer-receipt .toolbar .title {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  height: 56px;
  line-height: 56px;
  padding-right: 34px;
  padding-left: 8px;
}
.layer-receipt .toolbar .title .m-ico {
  position: absolute;
  top: 16px;
  right: 8px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.layer-receipt .toolbar .space {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.layer-receipt .feed-list {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
}
.layer-receipt .feed-list.is-unfolded {
  display: block;
}
.layer-receipt .feed-list .feed {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}
.layer-receipt .feed-list .feed.is-current {
  background-color: rgba(255,255,255,0.3);
}
.layer-receipt .artwork-thumbnail {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.layer-receipt .scroll {
  z-index: 1;
}
.layer-receipt .toolbar {
  z-index: 2;
}
.layer-receipt.has-artworks .m-fa-btn {
  pointer-events: auto;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.layer-receipt.has-artworks .m-fa-btn * {
  pointer-events: auto;
}
.layer-receipt.has-artworks .m-fa-btn .m-ico {
  -webkit-transition: all 0.2s 0.1s;
  -moz-transition: all 0.2s 0.1s;
  -o-transition: all 0.2s 0.1s;
  -ms-transition: all 0.2s 0.1s;
  transition: all 0.2s 0.1s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.layer-receipt.is-drawer-unfolded .m-fa-btn {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: translateX(-720px) scale(60);
  -moz-transform: translateX(-720px) scale(60);
  -o-transform: translateX(-720px) scale(60);
  -ms-transform: translateX(-720px) scale(60);
  transform: translateX(-720px) scale(60);
  background-color: rgba(0,0,0,0.6);
}
.layer-receipt.is-drawer-unfolded .m-fa-btn .m-ico {
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  -ms-transition: all;
  transition: all;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.layer-receipt.is-drawer-unfolded .drawer {
  height: 184px;
}
.layer-receipt.is-drawer-unfolded .container {
  overflow: hidden;
}
.layer-receipt.is-drawer-unfolded .panel {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.layer-receipt.is-drawer-unfolded .panel .scroll {
  -webkit-transition: all 0.4s 0.1s;
  -moz-transition: all 0.4s 0.1s;
  -o-transition: all 0.4s 0.1s;
  -ms-transition: all 0.4s 0.1s;
  transition: all 0.4s 0.1s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.layer-receipt.is-drawer-unfolded .artwork-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  min-width: fit-content;
}
.layer-receipt.is-drawer-unfolded .artwork-thumbnail {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  height: 100%;
}
.layer-receipt.is-drawer-unfolded .artwork-thumbnail .img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  display: block;
  height: 100%;
}
.layer-receipt.is-drawer-unfolded .artwork-thumbnail.is-chosen:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: rgba(255,255,255,0.3);
}
.layer-receipt.is-drawer-unfolded .artwork-thumbnail + .artwork-thumbnail {
  margin-left: 8px;
}
.layer-receipt.is-morphing .drawer {
  height: 184px;
}
.layer-receipt.is-morphing .container {
  overflow: hidden;
}
.layer-receipt.is-morphing .m-fa-btn .m-ico {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.layer-receipt.is-artwork-list-rendering .artwork-thumbnail {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.scroll.is-eased .scrollee {
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.scroll .scrollee {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.scroll .m-circular-progress {
  position: absolute;
  top: 48px;
  right: 16px;
}
.layer-clock {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.layer-clock .time {
  margin-bottom: 20px;
  font-size: 144px;
  color: #fff;
  padding: 20px;
}
.layer-clock .time.is-dark {
  color: #fff;
}
.layer-clock .time.is-light {
  color: #000;
}
