+m-btn-proto()
  cursor pointer

.m-fa-btn
  padding 16px
  border-radius 50%
  bg(alpha(#000,0.3))
  color #fff
  cursor pointer

.m-btn
  font-size $fs-btn
  height 36px
  line-height 36px
  padding 0 16px
  color $blue
  cursor pointer

.m-i-btn
  padding 6px
  color #fff
  cursor pointer

  