$r = 10px
$c = 2*PI*$r
$g = 0.1*$c
$a = $c - $g

@keyframes linear-progress-primary
  0%
    transform(translateX(-20%) scaleX(0.1))
  80%
    transform(translateX(100%) scaleX(1))
    
  100%
    transform(translateX(100%) scaleX(1))


@keyframes linear-progress-secondary
  0%
    opacity(0)
    transform(translateX(-100%) scaleX(1))
  60%
    opacity(1)
    transform(translateX(-100%) scaleX(1))  
  100%
    opacity(1)
    transform(translateX(100%) scaleX(0.1))

@keyframes circular-progress
  0%
    stroke-dasharray $g, $a
    stroke-dashoffset 0.25*$c + $g
  25%
    stroke-dasharray $a, $g
    stroke-dashoffset 0.25*$c + $g
  50%
    stroke-dasharray $g, $a
    stroke-dashoffset 0.25*$c - $a
  75%
    stroke-dasharray $a, $g
    stroke-dashoffset 0.25*$c - $a
  100%
    stroke-dasharray $g, $a
    stroke-dashoffset -0.75*$c - $a

@keyframes circular-circle
  0%
    transform(rotate(0deg))

  100%
    transform(rotate(360deg))

.m-linear-progress
  display none
  position relative
  height 4px
  bg(alpha(#fff,20%))
  
  &:before,
  &:after
    content ''
    height 4px
    transform-origin(left center)
    bg(alpha(#fff,80%))
    absolute-top()
    
  &:before
    animation(linear-progress-primary 2.4s linear infinite)
  &:after
    opacity(0)
    animation(linear-progress-secondary 2.4s linear infinite)
    
  &.top
    absolute-top()
    top -4px
  &.bottom
    absolute-bottom()
    bottom -4px
  &.is-loading
    display block
    
.m-circular-progress
  width 24px
  height 24px
  .svg
    width 24px
    height 24px
    animation(circular-circle linear 3.6s infinite)
  .circle
    width 24px
    height 24px
    cx 12px
    cy 12px
    r $r
    fill none
    stroke $gray
    stroke-width 4px
    transform-origin(center center)
    animation(circular-progress linear 2.4s infinite)
    
    