doctype html
html
  head
    title Pravo!
    meta(name="viewport", content="width=device-width,initial-scale=1")
    block scripts
      script(src="../../bower_components/requirejs/require.js", data-main="../js/pravo")
    block styles
      link(rel="stylesheet", href="../css/pravo.css")
    block templates
  body
    block main