.layer-clock
  align-items(center)
  justify-content(center)
  .time
    margin-bottom 20px
    font-size 144px
    color #fff
    padding 20px
    &.is-dark
      palette(#fff)
    &.is-light
      palette(#000)

      
